<template>
  <div v-if="user">
    <v-app-bar absolute>
      <v-toolbar-title
        ><router-link
          to="/"
          class="white--text capitilize text-decoration-none"
          >{{ user.name }}</router-link
        ></v-toolbar-title
      >

      <v-spacer></v-spacer>

      <v-btn color="warning" @click="logout">Logout</v-btn>
    </v-app-bar>

    <v-container class="pt-10 mt-10 container">
      <router-view />
    </v-container>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapState, mapActions } = createNamespacedHelpers("user");
export default {
  name: "authenticated-layout",
  computed: {
    ...mapState(["user"]),
  },
  methods: {
    ...mapActions(["LOGOUT"]),
    async logout() {
      try {
        await this.LOGOUT();
        this.$router.push("/");
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  max-width: 1185px;
}
</style>
