<template>
  <v-container class="py-0">
    <div class="auth-container">
      <div class="auth-content">
        <router-view />
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "auth-layout",
};
</script>

<style lang="scss" scoped>
.auth-container {
  display: grid;
  place-items: center;
  min-height: 100vh;

  .auth-content {
    max-width: 600px;
    width: 100%;
  }
}
</style>
