<template>
  <v-card :loading="loading">
    <v-card-title>
      Login
    </v-card-title>
    <v-card-text @keypress.enter="login">
      <v-form ref="form">
        <v-text-field
          label="Enter Your Email"
          :rules="emailRule"
          v-model="form.email"
          placeholder=" "
          type="email"
          filled
        ></v-text-field>

        <v-text-field
          placeholder="Enter Your Password"
          label="Password"
          filled
          :rules="passwordRule"
          v-model="form.password"
          :type="showPass ? 'text' : 'password'"
          :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPass = !showPass"
        ></v-text-field>
      </v-form>

      <p class="my-3">
        <router-link to="/register"
          >Don't have an account create one.</router-link
        >
      </p>
      <v-card-actions>
        <v-btn
          :disabled="loading"
          :loading="loading"
          color="primary"
          @click="login"
          class="ml-auto"
          >Login</v-btn
        >
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapState, mapActions } = createNamespacedHelpers("user");
export default {
  name: "login",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      showPass: false,
    };
  },
  computed: {
    ...mapState(["loading"]),
    emailRule() {
      return [
        (v) => !!v || "Email is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ];
    },
    passwordRule() {
      return [
        (v) => !!v || "Password is required",
        (v) => v.length >= 8 || "Password must greater then 8 characters",
      ];
    },
  },
  methods: {
    ...mapActions(["LOGIN_USER"]),
    async login() {
      try {
        const result = this.$refs.form.validate();
        if (result) {
          await this.LOGIN_USER(this.form);
          this.$router.push("/todo-list");
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
