<template>
  <v-card :loading="loading">
    <v-card-title>
      Register
    </v-card-title>
    <v-card-text @keypress.enter="register">
      <v-form ref="form">
        <v-text-field
          label="Name"
          :rules="nameRule"
          v-model="form.name"
          placeholder="Enter your name"
          type="text"
          filled
        ></v-text-field>
        <v-text-field
          label="Email"
          :rules="emailRule"
          v-model="form.email"
          placeholder=" "
          type="email"
          filled
        ></v-text-field>

        <v-text-field
          label="Password"
          placeholder="Enter Your Password"
          filled
          :rules="passwordRule"
          v-model="form.password"
          :type="showPass ? 'text' : 'password'"
          :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPass = !showPass"
        ></v-text-field>

        <v-text-field
          label="Confirm Password"
          placeholder="Confirm Password"
          filled
          :rules="confirmPasswordRule"
          v-model="form.confirm_password"
          :type="showPass ? 'text' : 'password'"
          :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPass = !showPass"
        ></v-text-field>
      </v-form>

      <p class="my-3">
        <router-link to="/login"
          >Already have an account? Login here.</router-link
        >
      </p>
      <v-card-actions>
        <v-btn
          :disabled="loading"
          :loading="loading"
          color="primary"
          @click="register"
          class="ml-auto"
          >Register</v-btn
        >
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapState, mapActions } = createNamespacedHelpers("user");
export default {
  name: "login",
  data() {
    return {
      form: {
        email: "",
        name: "",
        password: "",
        confirm_password: "",
      },
      showPass: false,
    };
  },
  computed: {
    ...mapState(["loading"]),
    emailRule() {
      return [
        (v) => !!v || "Email is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ];
    },
    passwordRule() {
      return [
        (v) => !!v || "Password is required",
        (v) => v.length >= 8 || "Password must greater then 8 characters",
      ];
    },
    confirmPasswordRule() {
      return [
        (v) => !!v || "Password is required",
        (v) => v.length >= 8 || "Password must greater then 8 characters",
        (v) => v === this.form.password || "Password do not match",
      ];
    },
    nameRule() {
      return [(v) => !!v || "Name is required"];
    },
  },
  methods: {
    ...mapActions(["REGISTER_USER"]),
    async register() {
      try {
        const result = this.$refs.form.validate();
        if (result) {
          await this.REGISTER_USER(this.form);
          this.$notify({
            group: "backend",
            title: "Success",
            text: "Hello world",
            type: "success",
          });
          this.$router.push("/");
        }
      } catch (error) {
        console.log("[REGISTER.vue]", error);
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
