<template>
  <v-app dark>
    <loader :loading="appLoading">
      <v-main>
        <router-view />
      </v-main>
    </loader>
    <notifications group="backend" animation-type="velocity">
      <template slot="body" slot-scope="props">
        <v-card @click="props.close" :color="props.item.type">
          <v-card-title>{{ props.item.title }}</v-card-title>
          <v-card-text>
            {{ props.item.text }}
          </v-card-text>
        </v-card>
      </template>
    </notifications>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "App",

  data: () => ({
    //
  }),
  computed: {
    ...mapState(["appLoading"]),
  },
};
</script>
