<template>
  <div class="todo-container">
    <v-form ref="form">
      <v-card
        max-width="500px"
        width="500px"
        :loading="loading"
        :color="form.color"
      >
        <v-card-title>Create A Todo</v-card-title>
        <v-card-text>
          <v-text-field
            label="Enter Title"
            :rules="titleRequired"
            v-model="form.title"
            placeholder=" "
            type="text"
            filled
          ></v-text-field>

          <v-textarea
            filled
            name="input-7-4"
            label="Enter Todo Description"
            todo
            :rules="requiredRule"
            v-model="form.description"
          ></v-textarea>
          <v-select
            :items="colors"
            v-model="form.color"
            filled
            label="Todo Color"
            dense
          ></v-select>

          <v-switch
            v-model="form.is_complete"
            inset
            label="Completed"
          ></v-switch>

          <div class="text-right">
            <v-btn :loading="loading" :disabled="loading" @click="create"
              >Create</v-btn
            >
          </div>
        </v-card-text>
      </v-card>
    </v-form>
  </div>
</template>

<script>
import { todoColors } from "../../constants";

import { createNamespacedHelpers } from "vuex";
const { mapState, mapActions } = createNamespacedHelpers("todo");
export default {
  name: "CreateTodo",
  data: () => ({
    form: {
      title: "",
      description: "",
      color: "accent",
      is_complete: false,
    },
  }),
  computed: {
    ...mapState(["loading"]),
    titleRequired() {
      return [(v) => !!v || "Title is required"];
    },
    requiredRule() {
      return [(v) => !!v || "Description  is required"];
    },
    colors() {
      return todoColors;
    },
  },
  methods: {
    ...mapActions(["CREATE_TODO"]),
    async create() {
      try {
        const result = this.$refs.form.validate();
        if (result) {
          await this.CREATE_TODO(this.form);
          this.$router.push("/todo-list");
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
