<template>
  <loader :loading="loading">
    <div class="todo-container">
      <v-form ref="form">
        <v-card max-width="500px" width="500px" :color="form.color">
          <v-card-title>Create A Todo</v-card-title>
          <v-card-text>
            <v-text-field
              label="Enter Title"
              :rules="titleRequired"
              v-model="form.title"
              placeholder=" "
              type="text"
              filled
            ></v-text-field>

            <v-textarea
              filled
              name="input-7-4"
              label="Enter Todo Description"
              todo
              :rules="requiredRule"
              v-model="form.description"
            ></v-textarea>
            <v-select
              :items="colors"
              v-model="form.color"
              filled
              label="Todo Color"
              dense
            ></v-select>

            <v-switch
              v-model="form.is_complete"
              inset
              label="Completed"
            ></v-switch>

            <div class="text-right">
              <v-btn @click="update">Update</v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-form>
    </div>
  </loader>
</template>

<script>
import { todoColors } from "../../constants";

import { createNamespacedHelpers } from "vuex";
const { mapState, mapActions } = createNamespacedHelpers("todo");
export default {
  name: "EditTodo",
  data: () => ({
    form: {
      title: "",
      description: "",
      color: "accent",
      is_complete: false,
    },
  }),
  computed: {
    ...mapState(["loading", "todo"]),
    titleRequired() {
      return [(v) => !!v || "Title is required"];
    },
    requiredRule() {
      return [(v) => !!v || "Description  is required"];
    },
    colors() {
      return todoColors;
    },
  },
  methods: {
    ...mapActions(["UPDATE_TODO", "FETCH_TODO"]),
    async update() {
      try {
        const result = this.$refs.form.validate();
        if (result) {
          const { id } = this.$route.params;
          await this.UPDATE_TODO({ ...this.form, id });
          this.$router.push(`/todo/${id}`);
        }
      } catch (error) {
        console.log(error);
      }
    },

    async fetchTodo() {
      await this.FETCH_TODO(this.$route.params.id);
      if (this.todo) {
        for (const key in this.form) {
          this.form[key] = this.todo[key];
        }
      }
    },
  },
  created() {
    this.fetchTodo();
  },
};
</script>

<style lang="scss" scoped></style>
