<template>
  <div class="todo-container">
    <v-skeleton-loader
      v-if="loading"
      type="article, actions"
    ></v-skeleton-loader>

    <v-card
      v-else-if="!loading && todo"
      :color="todo.color"
      dark
      class="todo-card"
    >
      <v-card-title class="text-h5" :class="{ completed: todo.is_complete }">
        {{ todo.title }}
      </v-card-title>

      <v-card-subtitle
        class="mt-4"
        :class="{ completed: todo.is_complete }"
        v-html="todo.description"
      ></v-card-subtitle>

      <v-divider></v-divider>

      <v-card-text>
        <div class="card-actions">
          <v-btn class="mx-2" fab dark small color="red" @click="dialog = true">
            <v-icon dark>
              mdi-delete
            </v-icon>
          </v-btn>

          <v-btn
            class="mx-2"
            fab
            dark
            small
            color="primary"
            :to="`/edit-todo/${todo._id}`"
          >
            <v-icon dark>
              mdi-pencil
            </v-icon>
          </v-btn>
        </div>
      </v-card-text>
    </v-card>

    <div v-else class="text-center">
      <h1>404 not found...!</h1>
      <v-btn to="/">Go Back</v-btn>
    </div>

    <!-- confirmation dialog -->
    <v-dialog v-model="dialog" width="500">
      <v-card :loading="loading">
        <v-card-title class="headline ">
          Confirmation
        </v-card-title>

        <v-card-text>
          Are you sure ypu want to delete the todo?
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn
            :loading="loading"
            :disabled="loading"
            color="red"
            text
            @click="dialog = false"
          >
            No
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            :loading="loading"
            :disabled="loading"
            text
            @click="deleteTodo"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapState, mapActions } = createNamespacedHelpers("todo");
export default {
  name: "Todo",
  data: () => ({
    dialog: false,
  }),
  computed: {
    ...mapState(["todo", "loading"]),
  },
  methods: {
    ...mapActions(["FETCH_TODO", "DELETE_TODO"]),
    async deleteTodo() {
      try {
        await this.DELETE_TODO(this.$route.params.id);
        this.$router.push("/todo-list");
      } catch (error) {
        console.log(error);
      }
    },
  },
  created() {
    this.FETCH_TODO(this.$route.params.id);
  },
};
</script>

<style lang="scss" scoped>
.todo-card {
  min-width: 300px;
  max-width: 500px;

  .card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
