<template>
  <div>
    <v-text-field
      label="Search Todos"
      v-model="search"
      placeholder=" "
      filled
      clearable
      @input="debounce"
    ></v-text-field>
    <v-row v-if="todos.length">
      <v-col cols="12">
        <v-btn-toggle shaped v-model="toggle" mandatory @change="toggleChange">
          <v-btn value="all">
            All
          </v-btn>
          <v-btn value="true">
            Completed
          </v-btn>
          <v-btn value="false">
            Incomplete
          </v-btn>
        </v-btn-toggle>
      </v-col>

      <!-- list of all the todos -->
      <v-col
        cols="12"
        md="4"
        lg="3"
        sm="6"
        v-for="todo in todos"
        :key="todo.id"
      >
        <v-card
          :color="todo.color"
          dark
          :class="{ completed: todo.is_complete }"
          class="h-100"
          :to="`/todo/${todo._id}`"
        >
          <v-card-title class="text-h5">
            {{ todo.title }}
          </v-card-title>

          <v-card-subtitle class="mt-4">{{
            todo.description | truncate
          }}</v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>

    <!-- todo's empty state -->
    <div class="todo-container" v-else-if="!loading && !todos.length">
      <v-card>
        <v-card-text>
          Look's like you don't have any TODO
          <router-link to="/create-todo">click here</router-link> to create one
        </v-card-text>
      </v-card>
    </div>

    <!-- loader -->
    <v-row v-if="loading">
      <v-col v-for="n in 4" :key="n" cols="12" md="4" lg="3" sm="6">
        <v-skeleton-loader type="article, actions"></v-skeleton-loader>
      </v-col>
    </v-row>

    <!-- when load all the todo's -->
    <div
      v-if="
        pagination.page === pagination.totalPages && !loading && todos.length
      "
    >
      <v-card class="mx-auto text-center mt-5" width="300px">
        <v-card-text>
          No more to load :)
        </v-card-text>
      </v-card>
    </div>

    <v-btn
      elevation="2"
      fab
      dark
      fixed
      bottom
      right
      color="accent"
      to="/create-todo"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>

    <!-- create some dummy tods's -->
    <v-tooltip bottom fixed>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          elevation="2"
          fab
          dark
          fixed
          bottom
          left
          color="accent"
          @click="createDummy"
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>mdi-shuffle</v-icon>
        </v-btn>
      </template>

      <span>Create Some Dummy Todo's</span>
    </v-tooltip>
  </div>
</template>

<script>
import { createNamespacedHelpers } from "vuex";
const { mapState, mapActions, mapMutations } = createNamespacedHelpers("todo");

import debounce from "lodash/debounce";
export default {
  name: "TodoList",
  data: () => ({
    toggle: "all",
    debounce: null,
  }),
  computed: {
    ...mapState(["todos", "loading", "pagination"]),
    search: {
      set(val) {
        this.SET_SEARCH(val);
      },
      get() {
        return this.$store.state.todo.search;
      },
    },
  },
  methods: {
    ...mapActions(["FETCH_TODOS", "CREATE_DUMMY_TODOS"]),
    ...mapMutations(["SET_SEARCH", "SET_TYPE", "SET_CLEAR_ALL"]),
    async createDummy() {
      await this.CREATE_DUMMY_TODOS();
    },
    fetchMore() {
      window.onscroll = () => {
        let bottomOfWindow =
          document.documentElement.scrollTop + window.innerHeight ===
          document.documentElement.offsetHeight;
        const { hasNextPage, nextPage } = this.pagination;
        if (bottomOfWindow && hasNextPage) {
          this.FETCH_TODOS(nextPage);
        }
      };
    },
    toggleChange(val) {
      this.SET_TYPE(val);
      this.debounce();
    },
  },
  created() {
    this.FETCH_TODOS(1);
    this.debounce = debounce(() => {
      this.FETCH_TODOS(1);
    }, 1000);
  },
  mounted() {
    this.fetchMore();
  },
  watch: {},
  beforeDestroy() {
    this.SET_CLEAR_ALL();
  },
};
</script>

<style lang="scss" scoped>
.h-100 {
  height: 100%;
}

.todo-container {
  min-height: 78vh;
}
</style>
