<template>
  <div class="text-center">
    <h1 class="mb-5">TODO App</h1>
    <v-card>
      <v-card-text>
        <img
          src="https://media4.giphy.com/media/dWOKEQ5ewh94RJLemj/giphy.gif"
          alt=""
          class="todo-img"
        />
      </v-card-text>
      <v-card-subtitle>
        Make a todo list to track your daily tasks
      </v-card-subtitle>
      <v-card-actions>
        <v-btn to="/register">
          Register
        </v-btn>

        <v-spacer></v-spacer>

        <v-btn to="/login">
          Login
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Home",

  components: {},
};
</script>

<style scoped>
.todo-img {
  max-height: 200px;
}
</style>
